<aside id="sidebar">
    
    <nav class="mt-4 flex flex-col flex-grow">
        <ul class="space-y-2 flex-grow">
            <li><a href="#" id="home-link" class="block p-4 mx-2 rounded-lg hover:bg-gray-700 active"><i class="fas fa-home mr-3"></i>Home</a></li>
            <li><a href="#" id="profile-link" class="block p-4 mx-2 rounded-lg hover:bg-gray-700"><i class="fas fa-user-circle mr-3"></i>Profile</a></li>
            <li><a href="#" id="completed-tasks-link" class="block p-4 mx-2 rounded-lg hover:bg-gray-700"><i class="fas fa-check-circle mr-3"></i>Completed Tasks</a></li>
            <li><a href="#" id="settings-link" class="block p-4 mx-2 rounded-lg hover:bg-gray-700"><i class="fas fa-cogs mr-3"></i>Settings</a></li>
            
        </ul>
    </nav>
    <div id="bottom-settings-icon" style="position: absolute; bottom: 0; width: 100%;">
        <a href="#" id="bottom-settings-link" class="block p-4 mx-2 rounded-lg hover:bg-gray-700"><i class="fas fa-cog mr-3"></i></a>
    </div>
</aside>